<h2>All messages for the <%= @tag_name %> tag</h2>
<% @messages.each do |message| %>
  <%= link_to message_path(message) do %><p><%= message.content %><% end %> - <%= message.user.username %> - <%= message.tag.name %></p>
<% end %>
